@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 3rem;
  width: 100vw;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100vw;
  --primary: #00897b;
}

body {
  font-family: "Lato", sans-serif;
  color: black;
  height: 100vh;
  --green: rgba(0, 255, 8, 0.694);
  width: fit-content;
  background: linear-gradient(
    90deg,
    rgb(141, 141, 243) 0%,
    rgb(208, 225, 252) 100%
  );
  background: pink;
}

.center {
  margin: auto;
  text-align: center;
}

a {
  text-decoration: none;
}

button {
  font: inherit;
  cursor: pointer;
}

a {
  color: inherit;
}
