.navbar {
  height: 25%;
  background-color: steelblue;
  padding: 1rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  border-bottom: 1px solid black;
  width: 100%;
}

.navbar strong {
  color: black;
  background-color: rgba(0, 255, 8, 0.694);
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  text-shadow: 0.1rem 0.1rem 0.1rem rgba(93, 93, 93, 0.681);
  border: 1px solid black;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
}

.navbar li {
  margin: 0 0.9rem;
  list-style-type: none;
}

.links li {
  background-color: rgba(0, 255, 8, 0.694);
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-weight: 700;
  border: 1px solid black;
  color: black;
}

.links li:hover {
  background-color: yellow;
}

.greetings {
  background: rgb(245, 255, 238);
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-weight: 700;
  border: 1px solid black;
  color: black;
}