.statsbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #eaeaea;
  border-top: 1px solid #eaeaea;
  font-size: 0.9rem;
  font-weight: 500;
  color: #666;
  position: sticky;
  top: 0;
  z-index: 1;
  margin-bottom: 1rem;
}

.statsbar strong {
  color: black;
  padding: 0.2rem;
  border-radius: 6px;
  font-size: 1.1rem;
}

.link {
  background-color: rgba(0, 255, 8, 0.694);
  padding: 0.2rem;
  border-radius: 0.5rem;
  font-weight: 700;
  border: 1px solid black;
  color: black;
}

.link:hover {
  background-color: yellow;
}